<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{80,94}</string>
                <key>textureRect</key>
                <string>{{1,1095},{80,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{155,1095},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,70}</string>
                <key>spriteSourceSize</key>
                <string>{56,70}</string>
                <key>textureRect</key>
                <string>{{299,1135},{56,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,63}</string>
                <key>spriteSourceSize</key>
                <string>{70,63}</string>
                <key>textureRect</key>
                <string>{{227,1095},{70,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,53}</string>
                <key>textureRect</key>
                <string>{{371,1135},{59,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_gold_star.svg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,158}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{312,975},{160,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spin_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,118}</string>
                <key>spriteSourceSize</key>
                <string>{309,118}</string>
                <key>textureRect</key>
                <string>{{1,975},{309,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{83,1095},{74,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,504}</string>
                <key>spriteSourceSize</key>
                <string>{514,514}</string>
                <key>textureRect</key>
                <string>{{1,1},{504,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_sections_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,466}</string>
                <key>spriteSourceSize</key>
                <string>{514,514}</string>
                <key>textureRect</key>
                <string>{{1,507},{466,466}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_elements.png</string>
            <key>size</key>
            <string>{506,1192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd6a2f008ddb98ef73aeae346646968:0a9b7e0d89a7f2e620ee9a3d836ee969:5d6428561adc9253c7b8e5ed91d5628b$</string>
            <key>textureFileName</key>
            <string>ui_elements.png</string>
        </dict>
    </dict>
</plist>
