<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>brush.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,188}</string>
                <key>spriteSourceSize</key>
                <string>{160,188}</string>
                <key>textureRect</key>
                <string>{{1009,1},{160,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1009,305},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,140}</string>
                <key>spriteSourceSize</key>
                <string>{112,140}</string>
                <key>textureRect</key>
                <string>{{1009,575},{112,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,126}</string>
                <key>textureRect</key>
                <string>{{1009,447},{140,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,106}</string>
                <key>spriteSourceSize</key>
                <string>{117,106}</string>
                <key>textureRect</key>
                <string>{{1009,689},{117,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp_gold_star.svg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,310}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{931,1009},{320,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spin_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,236}</string>
                <key>spriteSourceSize</key>
                <string>{618,236}</string>
                <key>textureRect</key>
                <string>{{931,1331},{618,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,140}</string>
                <key>spriteSourceSize</key>
                <string>{147,140}</string>
                <key>textureRect</key>
                <string>{{1009,163},{147,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_border.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{1006,1006}</string>
                <key>spriteSourceSize</key>
                <string>{1028,1028}</string>
                <key>textureRect</key>
                <string>{{1,1},{1006,1006}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wheel_sections_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{928,928}</string>
                <key>spriteSourceSize</key>
                <string>{1028,1028}</string>
                <key>textureRect</key>
                <string>{{1,1009},{928,928}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_elements.png</string>
            <key>size</key>
            <string>{1242,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd6a2f008ddb98ef73aeae346646968:0a9b7e0d89a7f2e620ee9a3d836ee969:5d6428561adc9253c7b8e5ed91d5628b$</string>
            <key>textureFileName</key>
            <string>ui_elements.png</string>
        </dict>
    </dict>
</plist>
